* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/madison-square-garden-1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

h2 {
    width: 90%;
    padding: 10px 10px;
    color: white;
    position: relative;
    right: -17.50%;
    text-align: center;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav a {
    padding: 20px 20px;
}

.nav-links{
    flex: 1;
    text-align: left;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
    position: relative;
}

.nav-links ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.nav-links ul li a:hover{
    border: 1px solid rgb(0, 68, 255);
    background: rgb(0, 68, 255);
    transition: 0.5s;
}

.text-box{
    width: 90%;
    color: rgb(255, 255, 255);
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-justify: space-between;
    text-align: center;
}

#player-name-placeholder {
    width: 50%;
    float: left;
}

#predicted-rating-placeholder {
    width: 30%;
    float: left;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.button-container{
    padding: 10px;
}

.buttons{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.buttons:hover{
    border: 1px solid rgb(0, 68, 255);
    background: rgb(0, 68, 255);
    transition: 0.5s;
}

#calculate-button{
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 21.5%;
}

form {
    position: absolute;
    top: 30%;
    left: 21.5%;
}

.input-form {
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    padding: 12px 34px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block
}

.form-box{
    padding: 10px;
}

nav .fa{
    display: none;
}

table{
    position: absolute;
    top: 65%;
    left: 30%;
}

table th, td {
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    padding: 5px 5px;
    font-size: 20px;
    background: transparent;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    text-align: center; 
}
